/** fix pre/code ticks */
:not(pre) > code:before,
:not(pre) > code:after {
  content: "";
}
:not(pre) > code {
  padding: 0.125rem;
}

/** layout (flex everything) */
.slidev-layout,
.col-right,
.col-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.slidev-layout p,
.slidev-layout h1 {
  margin: 0;
}

.slidev-layout ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slidev-layout ul li ul {
  display: revert;
}

/** center content on right column (for images) */
.col-right {
  margin: auto;
}

/** footer layout */

.footer,
.page-numbers {
  position: absolute;
  opacity: 0.75;
  font-size: 0.75rem;
  bottom: 0.25rem;
}

.footer {
  left: 0.5rem;
}

.page-numbers {
  right: 0.5rem;
}

.hover-right {
  position: absolute;
  right: 1em;
  top: 33%;
  display: flex;
  justify-content: end;
}
