:not(pre) > code:before,
:not(pre) > code:after {
  content: "";
}

:not(pre) > code {
  padding: 0.125rem;
}

.slidev-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.slidev-layout ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slidev-layout ul li ul {
  display: revert;
}
