:not(pre) > code:before,
:not(pre) > code:after {
  content: "";
}

:not(pre) > code {
  padding: 0.125rem;
}

.slidev-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.slidev-layout p {
  margin: 0;
}

.slidev-layout ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slidev-layout ul li ul {
  display: revert;
}

.page-numbers, .paper-src {
  position: absolute;
  opacity: 0.75;
  font-size: 0.75rem;
  right: 1rem;
  bottom: 1rem;
}
